<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free, beginner-friendly coding classes for women, by women">

    {% include "opengraph.html" %}

    <!-- Bootstrap -->
    <link href="http://shannonvturner.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>About Hear me Code</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://shannonvturner.com/css/hearmecode.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936574-2', 'hearmecode.com');
      ga('send', 'pageview');

    </script>

  </head>

<body>

<div class="container" style="overflow: hidden; height: 1%;">

  {% include "header.html" %}

  <div class="jumbotron" style="background-color: #add">

    <h2 style="margin-top: 0;">Why I started Hear Me Code</h2>

    <p>In theory, I love going to tech events. But I got tired of being one of the only women in in the room.  Not only did I feel like I didn't belong, but I often felt that others were talking down to me and not taking me seriously.</p>

    <p>When I talked to the other women at these events, I realized that it wasn't just me.  We all had this shared experience - feeling isolated, intimidated, unwelcome. It's no wonder that most women didn't come back for a second event.</p>

    <p>Many women came to these events to learn more and to get experience to break into the field, but were being pushed out and turned away.</p>

    <p>Bottom line, the tech industry isn't using its full talent base -- and there are so many people not yet at the table, with their voices unheard and their ideas unimplemented.</p>

    <p>Hear Me Code is my attempt to address the gender disparity in tech, and in so doing, empower others to create the change they wish to see.</p>

    <div class="col-lg-7"> </div>

    <div class="col-lg-2 text-center">
      <a href="https://twitter.com/svt827">
      <img src="http://shannonvturner.com/images/headshot.jpg" class="img-circle hmc_circleborder" width="150" height="150"> </a>
    </div>

    <div class="col-lg-3 text-center">
      <p> <br>
        Shannon Turner <br>
        Twitter: <a href="https://twitter.com/svt827">@svt827</a> <br>
        Github: <a href="https://github.com/shannonturner">@shannonturner</a> <br>
      </p>
    </div>

    <br> <br> <br> <br> <br>

  </div> 

  <div class="row">

    <div class="col-lg-4">

      <h2>Mission</h2>
      <p>
        To broaden the tech sector’s talent pool by lowering barriers to entry and creating a safe, supportive learning environment for women to learn, grow, and innovate.
      </p>

    </div>

    <div class="col-lg-4">
      <h2>Lowering barriers</h2>
      <p>
        Hear Me Code is completely free and open source - including lessons, code samples, exercises, and practice groups. 
      </p>
    </div>

    <div class="col-lg-4">
      <h2>Supportive Environment</h2>
      <p>
        Once they've taken a lesson, Hear Me Coders continue to support the community as mentors and teaching assistants.  Peer tutoring and mentoring strengthens the community and develops new leaders.
      </p>
    </div>

  </div>

</div>

  {% include "footer.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://shannonvturner.com/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>