<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free, beginner-friendly coding classes for over 2000 women in DC">

    {% include "opengraph.html" %}
    <meta property="og:title" content="About the Classes">
    <meta property="og:url" content="https://hearmecode.com/class">

    <!-- Bootstrap -->
    <link href="https://shannonvturner.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Join Hear me Code</title>

    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://shannonvturner.com/css/hearmecode.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936574-2', 'hearmecode.com');
      ga('send', 'pageview');

    </script>

  </head>

<body>

<div class="container" style="overflow: hidden; height: 1%;">

  {% include "header.html" %}

  <h1 class="text-center">Joining the Class</h1>

  <div class="row">

  <div class="col-lg-4 border-hover">
  <h3>What pre-requisites are there to join?</h3>
  <p>None.</p>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>But I don't think I'm techy enough to join!</h3>
  <p>That's just the <a href="http://adainitiative.org/what-we-do/impostor-syndrome-training/" target="_blank">impostor syndrome</a> talking. You'll be in a supportive environment with lots of beginners like you.</p>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>Do I need to have a Computer Science degree?</h3>
  <p>No way!</p>
  </div>

  </div>

  <div class="row">

  <div class="col-lg-4 border-hover">
  <h3>Where are the classes held?</h3>
  <p>Hear Me Code is in Washington DC but doesn't have a fixed location -- classes are held wherever I can get the space donated. Be sure to watch the listserv for class announcements.</p>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>When are classes held?</h3>
  <p>Classes are held once per month on the weekends. Be sure to watch the listserv for class announcements and check the <a href="https://hearmecode.com/calendar/">calendar</a></p>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>How much do the classes cost?</h3>
  <p>Nothing -- the classes are free.</p>
  </div>

  </div>

  <div class="row">

  <div class="col-lg-4 border-hover">
  <h3>What do I need to bring?</h3>
  <p>Bring your laptop, charger, and snacks! We don't want you going hungry during class.</p>
  </div>

  <div class="col-lg-4 border-hover text-center">
    <a href="https://groups.google.com/forum/#!forum/hearmecode" target="_blank">
    <button class="circle-button btn-primary">Join <br> Hear Me Code</button>
    </a>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>Are transgender women welcome to join?</h3>
  <p>Of course!</p>
  <br>
  </div>

  </div>

  <div class="row">

  <div class="col-lg-4 border-hover">
  <h3>Why can't men join?</h3>
  <p>Hear Me Code was created to help address the gender gap in tech and provide a supportive environment where women can thrive.</p>
  <p>There are lots of great groups that men can join too, and you'll often see Hear Me Coders there.</p>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>What languages will I learn?</h3>
  <p>Hear Me Code primarily focuses on Python, but you'll pick up some HTML, CSS, command-line, and git along the way.</p>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>As a male ally, how can I help?</h3>
  <p>If you know women who are interested in learning, tell them about Hear Me Code!</p>
  </div>

  </div>

  <div class="row">

  <div class="col-lg-4 border-hover">
  <h3>What projects will I be working on?</h3>
  <p>Hear Me Coders will work on projects that are relevant to their interests and/or their day-to-day work. Special emphasis is placed on social justice, civic tech, political/non-profit, government, and similar projects.</p>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>What does the curriculum look like?</h3>
  <p><a href="https://github.com/shannonturner/python-lessons" target="_blank">Check it out!</a> There are tons of code samples, exercises, and explanations of how things work.  Everything covered in the classes (and so much more) lives here.</p>
  </div>

  <div class="col-lg-4 border-hover">
  <h3>Is it too late to join?</h3>
  <p>No way! Hear Me Code is always accepting new members!</p>

  </div>

  </div>

  <div class="row text-center">

  <h2>Okay, how do I sign up?</h2>

    <h2><a href="https://groups.google.com/forum/#!forum/hearmecode" target="_blank">Sign up here</a></h2>

  </div>

</div>

  {% include "footer.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://shannonvturner.com/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>