<div class="container text-center" style="margin-top: 50px; margin-bottom: 10px;">

  <hr style="width: 60%;">

  <a href="https://twitter.com/hearmecode" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @hearmecode</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <a href="https://twitter.com/intent/tweet?button_hashtag=hearmecode&text=Free%2C%20beginner-friendly%20coding%20classes%20for%20women" class="twitter-hashtag-button" data-size="large" data-related="svthmc" data-url="http://hearmecode.com">Tweet #hearmecode</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <a href="https://twitter.com/share" class="twitter-share-button" data-via="svthmc" data-size="large">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <p> Hear Me Code was founded in September 2013 by <a href="https://twitter.com/svthmc" target="_blank">Shannon Turner </a> and offers free coding classes for women in the DC area. </p>

  <h4>This webpage is open source, naturally.  The code lives here: <a href="https://github.com/hearmecode/hearmecode" target="_blank">https://github.com/hearmecode/hearmecode</a> </h4>

</div>