<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free, beginner-friendly coding classes for over 2000 women in DC">

    {% include "opengraph.html" %}
    <meta property="og:title" content="Hear Me Code">
    <meta property="og:url" content="http://hearmecode.com">

    <meta name="google-site-verification" content="yTe6zca7Z9kZUnqgo2_jN9uiEWvFYD2bTO4NEcfvrmE" />

    <!-- Bootstrap -->
    <link href="http://shannonvturner.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Hear me Code</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://shannonvturner.com/css/hearmecode.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936574-2', 'hearmecode.com');
      ga('send', 'pageview');

    </script>

  </head>

<body>

<div class="container" style="overflow: hidden; height: 1%;">

  {% include "header.html" %}

  <!-- One -->

  <div class="col-lg-4">
    <div class="text-center">
      <a href="/class" class="headerlink">
      <img src="http://shannonvturner.com/images/hmc_001.png" class="img-circle hmc_circleborder" width="150" height="150">
      <h2>Thinking about joining?</h2>
      </a>
    </div>

  <p class="indent">
    You'll be part of a community of women learning and growing together.  You don't need any coding experience to join - 85% of the women in the class have never coded before!
  </p>

  <p class="indent">
    Lessons are beginner-friendly and focus on practical skills you can apply right away in the real world.
  </p>

  <p class="indent">
      Classes are held once a month, so there's plenty of time to work on the exercises and practice with other Hear Me Coders in between.
  </p>

  <p>
    <i>Hear Me Code is free and always will be</i>.
  </p>

  <a href="/class">Learn more about the classes</a>

  </div>

  <!-- Two -->

  <div class="col-lg-4">
    <div class="text-center">
      <a href="/about" class="headerlink">
      <img src="http://shannonvturner.com/images/hmc_004.png" class="img-circle hmc_circleborder" width="150" height="150">
      <h2>What's Hear Me Code?</h2>
      </a>
      </div>

  <p class="indent">
    Started as an informal class around the kitchen table, Hear Me Code now has over 2000 members.
  </p>

  <p class="indent">
    The curriculum consists of three core lessons and focuses on practical applications to real-world programming, with additional lessons for self-directed study.
  </p>

  <a href="/about">Find out how it came to be</a>

  </div>

  <!-- Three -->

  <div class="col-lg-4">
    <div class="text-center">
      <a href="/testimonials" class="headerlink">
      <img src="http://shannonvturner.com/images/hmc_005.png" class="img-circle hmc_circleborder" width="150" height="150">
      <h2>Testimonials</h2>
      </a>
    </div>

  <p class="indent">
    A key component of Hear Me Code is leadership development and turning students into teachers. Hear Me Coders are encouraged to train others on the skills they've learned, self-organize practice sessions in between classes, and collaborate on projects.
  </p>

  <p class="indent">
    The classes have quickly grown large solely by word of mouth. The community is supported by its members: women at all skill levels from beginner to expert who help to lift one another up.
  </p>

  <a href="/testimonials">See what Hear Me Coders have to say</a>

  </div>

</div>

  {% include "footer.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://shannonvturner.com/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>