<!-- Opengraph -->
<meta property="og:site_name" content="Hear Me Code">
<meta property="og:description" content="Free, beginner-friendly coding classes for over 2000 women in DC">
<meta property="og:image" content="https://shannonvturner.com/images/hearmecode.png">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hearmecode">
<meta name="twitter:creator" content="@svthmc">
<meta name="twitter:title" content="Hear Me Code">
<meta name="twitter:description" content="Free, beginner-friendly coding classes for over 2000 women in DC">
<meta name="twitter:image:src" content="https://shannonvturner.com/images/hearmecode.png">
<meta name="twitter:url" content="://hearmecode.com">

<link rel="shortcut icon" href="https://shannonvturner.com/images/hearmecode.ico">