<!-- Opengraph -->
<meta property="og:site_name" content="Hear Me Code">
<meta property="og:description" content="Free, beginner-friendly coding classes for women, by women">
<meta property="og:image" content="http://shannonvturner.com/images/hearmecode_logo.png">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hearmecode">
<meta name="twitter:creator" content="@svt827">
<meta name="twitter:title" content="Hear Me Code">
<meta name="twitter:description" content="Free, beginner-friendly, women-only coding classes. Learn to make apps, build websites, and so much more">
<meta name="twitter:image:src" content="http://shannonvturner.com/images/hearmecode.png">
<meta name="twitter:url" content="http://hearmecode.com">

<link rel="shortcut icon" href="http://shannonvturner.com/images/hearmecode.ico">