<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free, beginner-friendly coding classes for women, by women">

    {% include "opengraph.html" %}
    <meta property="og:title" content="Testimonials">
    <meta property="og:url" content="http://hearmecode.com/testimonials">

    <!-- Bootstrap -->
    <link href="http://shannonvturner.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Testimonials - Hear me Code</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://shannonvturner.com/css/hearmecode.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936574-2', 'hearmecode.com');
      ga('send', 'pageview');

    </script>

  </head>

<body>

<div class="container" style="overflow: hidden; height: 1%;">

  {% include "header.html" %}

  <div class="row">

    <div class="col-lg-10 col-lg-offset-1">
      <img src="http://shannonvturner.com/images/hearmecode.jpeg" class="img-responsive">
    </div>

  </div>

  <div class="row text-center">

    <h2>What Hear Me Coders have to say</h2>

    <br>

  </div>

  <div class="row">

  <div class="col-lg-4">
    <div class="text-center">
      <img src="http://shannonvturner.com/images/headshot_mel.png" class="img-circle hmc_circleborder" width="150" height="150"> </div> <br>
      <p>
      "The all-female community makes it easy to ask questions, and I now feel comfortable dipping my toes into the hackathons around DC, because I know I'll see some familiar faces."</p>
      <p class="text-right">- Mel Kramer</p>
  </div>

  <div class="col-lg-4">
    <div class="text-center">
      <img src="http://shannonvturner.com/images/headshot_tina.jpg" class="img-circle hmc_circleborder" width="150" height="150"> </div> <br>
      "Hear Me Code has been very instumental in helping me hone my skills and transition into a new career as a web/python developer. Being able to learn Python from Shannon has taught me about all of the endless possibilities and opportunities for me in the tech world."
      <p class="text-right">- Tina Stith-Twine</p>
  </div>

  <div class="col-lg-4">
    <div class="text-center">
      <img src="http://shannonvturner.com/images/headshot_maite.jpeg" class="img-circle hmc_circleborder" width="150" height="150"> </div> <br>
      "Thanks to Hear Me Code, I'm learning Python and working on two projects for work. I also learned to be comfortable using the terminal and GitHub, which allowed me to finally finish my personal website. ... I can ask as many questions as I want knowing that I won’t be judged!"
      <p class="text-right">- Maite Fernandez</p>
    </div>

  </div>
  

</div>

  {% include "footer.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://shannonvturner.com/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>